#wrap {
    max-width: 1420px;
    width: 100vw;
    margin: 50px auto 150px;
    #notice-brand{
        width: 100%;
        margin-bottom: 100px;
        >h1{
            font-size: 1.25rem;
            font-weight: 600;
            text-align: left;
            margin-bottom: 20px;
        }
        .notice-brand-content{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            height: 650px;
            .notice-brand-img{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                a{
                    >img{
                        object-fit: cover;
                        object-position: -120px 0;
                        height: 100%;
                    }
                }
                .like {
                    position: absolute;
                    width: 40px; height: 40px; border-radius: 20px; background-color: rgba($color: #222, $alpha: 0.5);
                    top:20px; right: 20px;
                    >svg{
                        transform: translateY(2px);
                    }
                }
            }
            .notice-brand-rightarea{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: left;
                height: 100%;
                .notice-brand-title{
                    top: 0;
                    left: 0;
                    > h1 {font-size: 40px; font-weight: 600; margin-bottom: 14px;}
                    > p {font-weight: 400; color: #aaa;}
                }
                .notice-product-list{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    .notice-product{
                        width: 230px;
                        >a {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: 14px;
                            >img{ width: 100%; height: 300px; object-fit: cover;}
                            .product-info {
                                width: 100%;
                                .brand{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px;}
                                .product-name {
                                    width: 100%;font-size: 14px; color: #8e8e8e; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 14px;
                                }
                                .product-per-dis{
                                    > span > em {color: #ff0a01; font-weight: 600;}
                                    > span {color: #222; font-weight: 600;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #recommend{
    width: 100%;
        .recommend-title{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: flex-end;
            > h1 {
            font-size: 1.25rem;
            font-weight: 600;
            text-align: left;
            margin-bottom: 20px;
            }
            >.more{font-size: 14px; color: #8e8e8e;}
        }
        .recommend-product-list{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .recommend-product{
                width: 230px;
                >a{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 14px;
                    >img{
                        width: 100%; height: 300px; object-fit: cover;
                    }
                    .product-info {
                        width: 100%;
                        .brand{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px;}
                        .product-name {
                            width: 100%;font-size: 14px; color: #8e8e8e; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 14px;
                        }
                        .product-per-dis{
                            > span > em {color: #ff0a01; font-weight: 600;}
                            > span {color: #222; font-weight: 600;}
                        }
                    }
                }
            }
        }
    }
}